@import url("https://fonts.googleapis.com/css2?family=Roboto@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputDiv {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 50%;
  border: 1px solid #333;
  border-radius: 10px;
}
.firstBuy {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.secondBuy {
  margin: 20px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.buttons {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section p:first-of-type{
  margin: 20px 15%;
  font-size: 35px;
}
label {
  margin: 20px 10px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: large;
  width: 300px;
}

button {
  padding: 10px 20px;
  background-color: rgb(220, 170, 255);
  border: none;
  border-bottom: 3px solid white;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  border-bottom: 3px solid rgb(113, 36, 185);
}

table {
  margin: 20px 50px;
  width: 40%;
  padding: 30px 40px;
  border-radius: 5px;
  box-shadow: 1px 2px 10px 5px rgb(215, 215, 215);
}

table td {
  font-size: 25px;
}
.xl {
  font-weight: bold;
}
.value {
  color: green;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(245, 245, 245);
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .inputDiv {
    margin: 5px auto;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  .firstBuy,
  .secondBuy {
    margin: 0;
    padding: 10;
  }

  .section p:first-child {
    font-size: 25px;
    margin: 15px auto;
    color: rgb(88, 19, 152);
  }
  h3,
  label {
    margin: 5px;
  }
  table {
    background-color: white;
    margin: 30px auto;
    padding: 20px 10px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 5px rgb(215, 215, 215);
  }
  table td {
    font-size: 15px;
  }
  .xl {
    font-weight: bold;
    font-size: 17px;
  }
}
